.evosuite/
.idea/

*.mp3

/ServerControl/
/benchmarks/
/www/
/test/
/logs/
/modules/
/plugins/

/out
/api/out
/main/out

/AlesharikWebServer.iml
/api/alesharikwebserver-api.iml
/main/alesharikwebserver-main.iml

/AlesharikWebServer.jar
/alesharikwebserver-api-1.0-SNAPSHOT.jar
/evosuite-1.0.3.jar

/repository.snapshot
/adminData.dat
/adminKey.key
/config.properties
/serverPassword
/serverPassword.key
