.evosuite/
.idea/

*.mp3
*.iml

/ServerControl/
/benchmarks/
/www/
/test/
/logs/
/modules/
/plugins/

/out
/api/out
/main/out
/ftp

/AlesharikWebServer.jar
/alesharikwebserver-api-1.0-SNAPSHOT.jar
/evosuite-1.0.3.jar

/api/src/com/alesharik/webserver/api/native/cmake-build-debug/

/repository.snapshot
/adminData.data
/adminKey.key
/config.properties
/serverPassword
/serverPassword.key
/diagram.xml
/ignoredFiles.conf
/AlesharikWebServer.zip
/graph.svg
/keyStore.store
/keyStore
/benchmarks.log
/benchmarks.log1
/test.csv
/test.json
/test.xml
/text.svg
/text.txt
/agent.jar
/configuration.xml
/keystore
/.directory

/pluginSources/
/reporting/
/main/reporting/
/api/reporting/

.gradle

/AlesharikWebServer.ipr
/AlesharikWebServer.iws
/deploy

/pom.xml
/api/pom.xml
/main/pom.xml
/keycert.cert
/keystore.keystore
/store.truststore
/cert.p12
/server.crt
/server.csr
/server.key
/server.orig.key
/trustore.truststore
/dashboard/yarn.lock
/dashboard/node_modules
/dashboard/dist
/api/deploy
/api/build
/serverDashboard/output-audio6.mp4
/serverDashboard/output-audio6.wav